# MailChimp vs Capture IT
## Objective
To find out MailChimp subscribers who are not yet on Capture IT

In [1]:
import pandas as pd
df_mc = pd.read_csv('mailchimp.csv')
df_ci = pd.read_csv('captureit.csv')

In [4]:
df_mc.head()

,Email Address,First Name,Last Name,Phone,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,LATITUDE,...,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,LAST_CHANGED,LEID,EUID,NOTES,TAGS
0,ecros@westnet.com.au,Elizabeth,Crosbie-Mahon,93644506,5,2017-06-28 16:38:53,NaN,2017-06-28 16:38:53,NaN,'-32.0100000,...,8,8,australia/perth,au,wa,2017-07-21 19:58:30,13266067,e4f062aea8,NaN,"""Active Users"",""4-5 Stars"""
1,kimwillo64@gmail.com,Kim,Willoughby,NaN,2,2022-06-22 12:39:21,49.184.207.121,2022-06-22 12:39:35,120.16.189.71,'-31.6700000,...,NaN,NaN,Australia/Perth,AU,WA,2022-06-22 12:39:35,442029453,3facf74952,NaN,"""Campaign Pasted Segment - 01 Aug 2022 02:36:5..."
2,jennifer.a.sudbury@gmail.com,Jennifer,Sudbury,NaN,5,2020-12-09 12:36:54,124.171.7.231,2020-12-09 21:56:33,220.240.131.238,'-31.8400000,...,NaN,NaN,NaN,au,wa,2020-12-09 21:56:33,359758196,39eb38d13d,NaN,"""T3 2021 Members"",""T1 & T2 2021 Members & Stud..."
3,lindaodonovan49@gmail.com,Linda,O'Donovan,NaN,2,2022-08-01 14:58:03,NaN,2022-08-01 14:58:03,49.196.69.204,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-08-01 14:58:03,443156337,faf23b6e83,NaN,"""Campaign Pasted Segment - 01 Aug 2022 03:39:4..."
4,catheriner@iinet.net.au,Catherine,Rousset,419019869,5,2017-06-28 16:38:55,NaN,2017-06-28 16:38:55,NaN,'-31.9800000,...,8,8,australia/perth,au,wa,2017-07-21 19:58:31,13269227,d3207eca5e,NaN,"""Active Users"",""4-5 Stars"""

In [5]:
df_ci.head()

,OrganisationID,CaptureIT UUID,Registered at eSafety,IsTutor,p,First BeConnected Activity Completed Date,First ADHA Activity Completed Date,First Contact Date,First Name,Last Name,...,Age,Gender,Country of birth,Language spoken at home,ATSI code,HasDisabilities,State,Suburb,Postcode,First Contact Date.1
0,8002168,2440316,1,0,29/02/2020,25/04/2019,NaN,25/04/2019,Margaret,Gregory,...,78.0,N,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN
1,8002168,2440315,1,0,29/02/2020,06/06/2019,NaN,06/06/2019,Catherine,Gaynor,...,63.0,N,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Kensington,6151,NaN
2,8002168,2356815,0,0,19/07/2019,NaN,NaN,19/07/2019,John,Doe,...,68.0,N,NaN,NaN,NOTSTATED,NOT_STATED,Western Australia,South Terrace,6151,NaN
3,8002168,2401746,0,0,18/11/2019,29/10/2019,NaN,29/10/2019,James,Stean,...,80.0,M,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Ferndale,6148,NaN
4,8002168,2399477,0,0,12/11/2019,30/10/2019,NaN,30/10/2019,Janet,Renner,...,63.0,F,England,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Mount Pleasant,6153,NaN

Find the overlap, i.e. subscribers of MailChimp that have already registered on Capture IT:

In [7]:
dfovrlp = pd.merge(df_ci,df_mc,how='inner',on=['First Name','Last Name'])

In [8]:
dfovrlp

,OrganisationID,CaptureIT UUID,Registered at eSafety,IsTutor,p,First BeConnected Activity Completed Date,First ADHA Activity Completed Date,First Contact Date,First Name,Last Name,...,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,LAST_CHANGED,LEID,EUID,NOTES,TAGS
0,8002168,2440316,1,0,29/02/2020,25/04/2019,NaN,25/04/2019,Margaret,Gregory,...,8,8,NaN,au,wa,2017-07-21 19:58:32,13270563,250f2f0a0a,NaN,"""Active Users"",""Capture IT from 2020"""
1,8002168,2440315,1,0,29/02/2020,06/06/2019,NaN,06/06/2019,Catherine,Gaynor,...,8,8,australia/perth,au,wa,2019-02-21 08:52:17,58233491,0c8e0f8d30,NaN,"""Capture IT from 2020"",""Campaign Pasted Segmen..."
2,8002168,2399477,0,0,12/11/2019,30/10/2019,NaN,30/10/2019,Janet,Renner,...,8,8,australia/perth,au,wa,2019-02-21 08:52:19,13269579,69c88367d2,NaN,"""Campaign Pasted Segment - 01 Aug 2022 03:39:4..."
3,8002168,2401743,0,0,18/11/2019,12/11/2019,NaN,12/11/2019,Andrea,Henning,...,NaN,NaN,NaN,NaN,NaN,2022-08-01 14:58:02,443156261,297fd19fcf,NaN,"""Campaign Pasted Segment - 01 Aug 2022 03:39:4..."
4,8002168,2401743,0,0,18/11/2019,12/11/2019,NaN,12/11/2019,Andrea,Henning,...,8,8,australia/perth,au,wa,2020-03-10 17:24:07,13268515,6fc78dbd5e,NaN,"""T3 2021 Members"",""Active Users"",""Members for ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,8002168,2690550,0,0,20/09/2022,05/09/2022,NaN,05/09/2022,Anthea,Cheney,...,8,8,australia/perth,au,wa,2019-02-21 08:52:16,13266315,82e4ef958e,NaN,"""Campaign Pasted Segment - 01 Aug 2022 02:30:1..."
232,8002168,2690554,0,0,20/09/2022,07/09/2022,NaN,07/09/2022,John,Bamfield,...,8,8,australia/perth,au,wa,2019-02-21 08:52:15,13269907,d8c9cd640f,NaN,"""Members for AGM 2021"",""T1 & T2 2021 Members &..."
233,8002168,2690560,0,0,20/09/2022,07/09/2022,NaN,07/09/2022,Sonia,Czernik,...,8,8,australia/perth,au,wa,2022-10-14 11:30:54,443369881,5ac0a03b1b,NaN,NaN
234,8002168,2701915,0,0,04/11/2022,23/09/2022,NaN,23/09/2022,Lorraine,Marshall,...,10,11,australia/melbourne,au,vic,2019-02-21 08:52:18,13269451,ec87e61c1a,NaN,"""Campaign Pasted Segment - 01 Aug 2022 02:33:1..."
235,8002168,2701921,1,0,04/11/2022,18/10/2022,NaN,18/10/2022,Judy,Thompson,...,8,8,australia/perth,au,wa,2017-07-21 19:58:31,13268079,740af37dee,NaN,"""Active Users"",""4-5 Stars"""

In [10]:
dfovrlp[['First Name','Last Name', 'Email Address']]

    First Name Last Name                Email Address
0     Margaret   Gregory       mmjgregory@hotmail.com
1    Catherine    Gaynor           cathyg@fastmail.fm
2        Janet    Renner          janet2058@gmail.com
3       Andrea   Henning   andreahenning432@gmail.com
4       Andrea   Henning      henning8@bigpond.net.au
..         ...       ...                          ...
231     Anthea    Cheney     keanagencies@bigpond.com
232       John  Bamfield      jbamfiel@bigpond.net.au
233      Sonia   Czernik    berg.bubbly_05@icloud.com
234   Lorraine  Marshall       marshallrelr@gmail.com
235       Judy  Thompson  rtandjhthompson@bigpond.com

[236 rows x 3 columns]

Export this overlap, note that in MailChimp, to access the people who are not on Capture IT, must use a `NOT` clause somewhere.

In [12]:

dfovrlp[['First Name','Last Name', 'Email Address']].to_csv("ci_on_mc.csv",index=False)