In [1]:
import os

In [2]:
import pandas as pd

In [3]:
folder_path = '.'

In [4]:
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

In [5]:
collated_df = pd.DataFrame()

In [6]:
for csv_file in csv_files:
    file_path = os.path.join('.', csv_file)
    df = pd.read_csv(file_path)
    collated_df = collated_df.append(df, ignore_index=True)

In [7]:
collated_df

,Title,Given,Surname,Mem_num,Street,Suburb,State,PostC,Email,Phone,Mobile,Status,Paid,Creche,Notes
0,Ms,Lyndall,Andrews,202106000.0,41 Essex St,Wembley,WA,6014,Dixie63@westnet.com.au,0407010709,407010709.0,Enrolled,$160.00,0.0,NaN
1,Ms,Susanna,Hooper,201712004.0,10 Klem Avenue,Salter point,WA,6152,grainneklem@yahoo.com.au,9450 4920,NaN,Enrolled,$160.00,NaN,NaN
2,NaN,Felicity,Renner,202304008.0,NaN,,WA,,felicityrenner@gmail.com,NaN,431981914.0,Enrolled,$160.00,0.0,NaN
3,Ms,Joyce,Wise,201810016.0,1002/21 Bow River Cres,Burswood,WA,6100,Joyceewise55@gmail.com,0433287501,433287501.0,Enrolled,$160.00,0.0,NaN
4,NaN,Josephine,Dundas,202202010.0,1/26 Renwick,South perth,WA,6151,josephinedundas607@gmail.com,0411477194,0411477194,Enrolled,$120.00,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Mrs,Natalie,Zuchetti,202306008.0,2 Chivrell Rise,Gwelup,WA,6018,natz@aspiringart.com.au,492467639.0,492467639,Enrolled,$210.00,0.0,Online transaction Can I please be placed on t...
96,Mrs,Corinne,Gruenthal,202110008.0,3 Elizabeth Street,South perth,WA,6151,corinnegruenthal@iinet.net.au,405554535,405554535,Enrolled,$200.00,0.0,NaN
97,Ms,Beverley,Richardson,201904002.0,54 Serpentine Mdr,Gosnells,WA,6110,Johnbev.rich@bigpond.com,94907144,403828987,Enrolled,$200.00,0.0,NaN
98,Mrs,Nadine,Simmonite,202107016.0,17 Jubilee Street,South perth,WA,6151,nadine@thepetpractice.com.au,415963928,415963928,Enrolled,$200.00,NaN,NaN
99,NaN,Mark,Teakle,202007002.0,23 Banksia,Joondanna,WA,6060,mteakle@gmail.com,408836716,408836716,Enrolled,$200.00,0.0,Online transaction

In [8]:
collated_df.loc[:,["Email"]]

                            Email
0          Dixie63@westnet.com.au
1        grainneklem@yahoo.com.au
2        felicityrenner@gmail.com
3          Joyceewise55@gmail.com
4    josephinedundas607@gmail.com
..                            ...
95        natz@aspiringart.com.au
96  corinnegruenthal@iinet.net.au
97       Johnbev.rich@bigpond.com
98   nadine@thepetpractice.com.au
99              mteakle@gmail.com

[100 rows x 1 columns]

In [10]:
collated_df.to_csv('all-emails.csv', index=False)